{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div class="days">
            </div>
        </div>
        <div class="review">
            <div class="output">
                <h3> HOLIDAYS COUNTRY </h3>
                <div class="holidays" id="holidays" >
                </div>
                <h3> review </h3>
                <div class="notes" id="notes-palace">
                    <div class="note" id="note-1">
                        <div class='row-3'>
                            <div class="row-3-1">
                                <label for="note-1-title">1) Title: </label>
                                <input type="text" id="note-1-tile">
                            </div>
                            <div class="row-3-2">
                                <label for="note-1-datebegin">From: </label>
                                <input type="datetime-local" id="note-1-datebegin">
                                <label for="note-1-dateend">To: </label>
                                <input type="datetime-local" id="note-1-dateend">
                            </div>
                            <div  class="row-3-3">
                                <label for="note-1-textarea">Description: </label>
                                <textarea type="text" id="note-1-textarea">
                                </textarea>
                            </div>
                        </div>
                        <div class="row-1">
                            <input type="button" value="save">
                            <input type="button" value="back">
                        </div>
                    </div>
                    <div class="note" id="note-2">
                        <div class='row-3'>
                            <div>
                                <label for="note-2-title">2) Title: </label>
                                <span id="note-2-title">go to park</span>
                            </div>
                            <div>
                                <label for="note-2-datebegin">From: </label>
                                <span id="note-2-datebegin"> 12/13/2022 11:00 </span>
                                <label for="note-2-dateend">To: </label>
                                <span for="note-1-dateend">12/13/2022 12:00</span>
                            </div>
                            <div>
                                <label for="note-2-textarea">Description: </label>
                                <p>ldafd fdd sfsf sd fsfsfsdf
                                    sfsfs <br>
                                    fsd <br>
                                    dsfsfsfsfserwerw
                                </p>
                            </div>
                        </div>
                        <div class="row-1">
                            <input type="button" value="change">
                            <input type="button" value="del">
                        </div>
                    </div>
                    <div class="note" id="note-2">
                        <div class='row-3'>
                            <div>
                                <label for="note-2-title">3) Title: </label>
                                <span id="note-2-title">go to park</span>
                            </div>
                            <div>
                                <label for="note-2-datebegin">From: </label>
                                <span id="note-2-datebegin"> 12/13/2022 11:00 </span>
                                <label for="note-2-dateend">To: </label>
                                <span for="note-1-dateend">12/13/2022 12:00</span>
                            </div>
                            <div>
                                <label for="note-2-textarea">Description: </label>
                                <p>ldafd fdd sfsf sd fsfsfsdf
                                    sfsfs <br>
                                    fsd <br>
                                    dsfsfsfsfserwerw
                                </p>
                            </div>
                        </div>
                        <div class="row-1">
                            <input type="button" value="change">
                            <input type="button" value="del">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scriptMain.js"></script>
{% endblock %}