* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    background-color: #36365a;
    color: #eee;
    display: flex;
    justify-content: space-around;

}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #3f3f4b;
    box-shadow: 0 0.5rem 3rem rgba(0,0, 0, 0.5);
}

.review {
    width: 50%;
}

.noteday {
    outline:solid;
    outline-color: #1bc1c770 ;
}

.holiday {
    border-top: 0.3rem solid #c71b4070;
}

.holidays {
    background-color: #c71b4070;
    padding: 1rem;

}

.notes {
    padding:  1rem;
    background-color:#1bc1c770;
    display: flex;
    flex-direction: column;

}
.note {
    display: flex;
    margin-top: 10px;
}

.row-3 {
    width: 75%;
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
}
.row-3 span {
    color: #1bc1c7;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem rgba(0,0, 0, 0.5);
}
.row-3 p {
    color: #89cbdbea;
    text-shadow: 0.1rem 0.1rem rgba(0,0, 0, 0.5);
}
.row-3-3 {
    display: flex;
    flex-direction: column;
}
.row-3-3 > textarea {
    width: 100%;
    height: 8rem;
    resize: none;
    font-size: 2rem;
}


.row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;

}

.review div,
.holidays div {
    font-size: 2.5rem;
    font-weight: 500;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #399185;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0, 0, 0.5);
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}

@keyframes open {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.con-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    font-size: 1.4rem;
    font-weight: 500;
}


.popup {
    background-color: #1bc1c7;
    margin: 300px auto;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    animation: open 0.2s linear 0s 1 normal forwards;

}

.row-input {
    flex: 6 1 auto;
    display: flex;
    flex-direction: column;
}
.r-1 {
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px ;
}
.r-1 input {
    width: 50%;
}
.r-2 {
    flex:1 1 auto;
    display: flex;

}
.r-2 >div{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.r-3 {
    display: flex;
    flex-direction: column;
    flex:5 1 auto;
    margin: 10px 10px 0 10px;
}

.r-3 > textarea {
    height: 80%;
    resize: none;

}

.row-button {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row-1 > input,
.row-button > input{
    height: 4rem;
    width:  10rem;
    margin: 0 15px;
    cursor: pointer;
    background-color: #8892ec73;
    font-size: 1.4rem;
    font-weight: 400;
    text-shadow: 0.5px 0.5px 1px rgba(0,0, 0, 0.5);
    box-shadow: 0.2rem 0.4rem rgba(0,0, 0, 0.6);
    border: 1px solid black;

}

@keyframes but {
    0% {
        font-size: 1.4rem;
    }

    100% {
        font-size: 1.6rem;
    }
}
.row-1 > input:hover,
.row-button > input:hover {
    animation: but 0.1s 0s 1 normal forwards;
}
.row-1 > input:active,
.row-button > input:active {
    transform: translateY(3px);
    box-shadow: 0rem 0rem rgba(0,0, 0, 0.6);
}

@media screen and (max-width: 1000px){
    .container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }
    .review {
        margin: 0px 3rem;
        width: 100%;
    }
    .row-3 {
        flex: 3 1  auto;
    }

    .note {

    }


}